@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@keyframes wave {
  0%,
  100% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.5);
  }
}
.animate-wave-sm {
  animation: wave 1s ease-in-out infinite 0.1s;
}
.animate-wave-md {
  animation: wave 1s ease-in-out infinite 0.2s;
}
.animate-wave-lg {
  animation: wave 1s ease-in-out infinite 0.3s;
}
